.menCard{
    margin-top: 20vh;
}
.cardStyle{
    width: 15rem;
    border: none;
    margin-top: 30px;
}

.imgSize{
    height: 220px;
}
.link{
    text-decoration: none;
    color: black;
}
.marginTop{
    margin-top: 20vh;
}