.mtlp{
    margin-top: 20vh;
}
.ps1h{
    border: 1px solid rgba(0, 0, 0, 0.295);
    padding: 2vh;
}
.ps1h img{
    width: 30vh;
    height: 30vh;
}
.cba{
    border: 1px solid rgba(0, 0, 0, 0.295);
    padding: 2vh;
  
}
#aml{
    margin-left: 1vh;
}