
#title-link{
    color: white;
    text-decoration: none;
}
.topFixed{
    background-color: black;
}

#cart:hover{
    border: 1px solid white;

}
#uname-dply{
    color: white;
    font-weight: bold;
}
#loginBtn2{
    border: none;
    background: black;
    color: blue;
}
@media screen and (max-width: 575px){
    #h3{
        text-align:left;
    }
}
/* div{
    border: 1px solid red;
} */