
 .navFixed{

    margin-top: 8.5vh;
 }




@media screen and (max-width: 575px){


    .navbarBtn{
        border:none;
        margin-right: 100px;
        background-color: rgb(14, 14, 37);
    }
}